# Created by .ignore support
# Folders to ignore
# =================================

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/

# Experiment outputs and logs
runs/
wandb/
logs/

# Generated media files
renders/
edge_aistpp/

# Data and data-related folders
# This single line ignores the entire /data directory and its contents
data/train
data/test
data/dataset_backups
data/dataset_traj_backups
data/dataset_backups_original
data/jukebox_feats_rectified
data/trajectories
data/trajectories_per_slice
generate_test_trajectory/old_trajectory_generation_logic

# Other data/cache folders
train/
test/
dataset_backups/
cached_features/
custom_music
custom_music_one_song/

# Specific file types to ignore
# =================================
dataset/dance_dataset1.py
training_script.sh
training_script_ck.sh
training_script_short.sh
training_script_tr.sh
training_script_short_ck.sh
test_script.sh
EDGE copy.py
inspect_checkpoint.py
vis1.py
test1.py
interactive_session.sh
visualize_path.ipynb
dataset/preprocess1.py
dataset/scaler1.py
media/test_traj_motions.png
media/test_traj_motions_simple.png

# Media files
*.gif
*.mp4

# Data, models, and archives
*.pkl
*.pt
*.npy
*.zip
*.tar.gz
*.tar